@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("../public/wallhaven-5g9rl7_1920x1080.png");
}

.wrapper {
  width: 450px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  background-position: center;
  object-fit: cover;
  padding: 30px 40px;
}
